body{

    margin:0;

    font-family:'Segoe UI',sans-serif;

    background:#f4f4f4;

}

.container{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.card{

    width:380px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,0.2);

}

h2{

    text-align:center;

    margin-bottom:20px;

    color:#134E5E;

}

input{

    width:100%;

    padding:12px;

    margin-top:15px;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:14px;

}

input:focus{

    outline:none;

    border-color:#134E5E;

}

button{

    width:100%;

    padding:12px;

    margin-top:20px;

    border:none;

    border-radius:8px;

    background:#134E5E;

    color:white;

    font-size:15px;

    cursor:pointer;

}

button:hover{

    background:#0f3b47;

}

.back-btn{

    background:#6c757d;

}

.back-btn:hover{

    background:#545b62;

}

.msg{

    text-align:center;

    font-weight:bold;

    margin-top:10px;

}

.password-box{

    position:relative;

}

.eye{

    position:absolute;

    right:12px;

    top:28px;

    cursor:pointer;

    font-size:20px;

}