body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#888B90;
background-image: radial-gradient(#d9e2ec 1px, transparent 1px);
    background-size:20px 20px;
    display:flex;
    flex-direction:column;
}

.header{
    margin-top:20px;
    color:#fff;
        display:flex;
        justify-content:center;
}

.card{
    width:500px;
    background:#fff;
    padding:25px;
    margin-top:40px;
    margin-bottom:40px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    align-self:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:#2a9d8f;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#21867a;
}

.msg{
    display:none;
    margin-bottom:10px;
    color:red;
}
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
    justify-content:center;
    align-items:center;
}

.popup-content{
    background: #0ee15f;
        color: #fff;
        padding: 3px 49px;
        border-radius: 12px;
        text-align: center;
        font-size: 16px;
        width: 300px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        animation: popupFade 0.3s ease;
}

@keyframes popupFade{
    from{transform:scale(0.8); opacity:0;}
    to{transform:scale(1); opacity:1;}
}