body{

margin:0;
font-family:Segoe UI;
background:#f1f8f4;

}

.header{

display:flex;
align-items:center;
justify-content:space-between;

background:#1b5e20;
color:white;

padding:15px 30px;

}

.logo{

height:55px;

}

.header button{

background:#4caf50;
border:none;

padding:8px 16px;
color:white;

border-radius:6px;
cursor:pointer;

}

.container{

max-width:900px;
margin:auto;

padding:30px;
text-align:center;

}

.container h2{

color:#1b5e20;

}

.msg{

font-size:16px;
margin-bottom:25px;

}

.payment-box{

background:white;

padding:20px;

margin-bottom:25px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.qr-box{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

margin-bottom:25px;

}

.qr{

width:220px;
margin-top:10px;

}

.note{

background:#fff3cd;

padding:15px;

border-radius:8px;

margin-bottom:20px;

}

.hukm{

background:#e8f5e9;

padding:18px;

border-radius:8px;

font-size:16px;

}