/* BODY */
body{
    font-family:Arial;
    margin:0;
    background:#f5f6fa;
}

/* CONTAINER */
.team-container{
    text-align:center;
    padding:60px 5%;
}

/* TOP 4 FIXED */
.top-team{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:nowrap;
    overflow-x:auto;
    margin-bottom:30px;
}

/* TOP TEAM SCROLL HIDE */
.top-team::-webkit-scrollbar{
    display:none;
}

/* OTHER MEMBERS GRID */
.team-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

/* DEFAULT CARD */
.team-card{
    background:white;
    padding:12px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

/* TOP 4 CARDS */
.top-team .team-card{
    flex:0 0 22%;
    padding:20px;
    min-width:220px;
}

/* OTHER SMALL CARDS */
.team-grid .team-card{
    flex:0 0 calc(14.28% - 20px);
}

/* SMALL IMAGE */
.team-grid .team-card img{
    width:90px;
    height:120px;
    border:2px solid black;
    border-radius:8px;
}

/* BIG IMAGE */
.top-team .team-card img{
    width:120px;
    height:160px;
    border:2px solid black;
    border-radius:8px;
}

/* HOVER */
.team-card:hover{
    transform:translateY(-6px);
}

/* TEXT */
.team-card h3{
    margin:10px 0 5px;
}

/* ROLE */
.role{
    color:#27ae60;
    font-weight:bold;
    margin-bottom:10px;
}

/* INFO */
.info{
    font-size:13px;
    color:#666;
    line-height:1.5;
}

/* BACK BUTTON */
.back-btn{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.back-btn button{
    background:#c0392b;
    color:white;
    border:none;
    padding:10px 22px;
    font-size:14px;
    font-weight:600;
    border-radius:6px;
    cursor:pointer;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.back-btn button:hover{
    background:#a93226;
    transform:translateY(-2px);
}